# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Visual Studio Code\hansol-personality\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
